- var pagename = 'Software Development'
- var heroTitle = 'Software Development in Chandler, Arizona.'
- var heroParagraph = "I prefer developing elegant solutions to immediate problems."

include ../include/header.jade

include ../include/hero.jade

a(name='about')
section.hero-content
  .row
    .large-8.columns.about-content
      h4 Generalized Professional Experience
      ul
        li HTML
        li CSS
        li JavaScript
        li PHP
        li Perl
        li Ruby
        li Python
      p Hire me for your custom software project.
      ul.small-block-grid-1.text-center
        li
          a.button.dark(href='mailto:monaghan.david@gmail.com?subject=Hire David', title='') Hire
    .large-4.columns.show-for-large-up.hide-on-print
      ul.small-block-grid-2
        li
          a(href='#')
            img(src='/image/hl1.png')
        li
          a(href='#')
            img(src='/image/hl2.png')
        li
          a(href='#')
            img(src='/image/hl3.png')
        li
          a(href='#')
            img(src='/image/hl4.png')
section.hero-content
  .row
    .large-8.columns.about-content
      h4 My focus is on machine learning.
      p Hire me for your custom software project.
      ul.small-block-grid-1.text-center
        li
          a.button.dark(href='mailto:monaghan.david@gmail.com?subject=Hire David', title='') Hire
    .large-4.columns.show-for-large-up
      img(src='https://s.gravatar.com/avatar/8dbcdfa55ce26a025065ba8a7d0bfe09?s=280')

include ../include/footer.jade
