- var pagename = 'Welcome'
- var heroTitle = 'I live in Chandler, Arizona.'
- var heroParagraph = "I'm a self-taught software developer."

include ./include/header.jade

include ./include/hero.jade

a(name='about') 
section.hero-content
  .row
    .large-8.columns.about-content
      h4 I Love Software
      
      p Software has been my passion ever since I saw a computer and decided, "I'm going to find out how to put what I want on that screen." Computers and electronics always fascinated me but I couldn't always afford the hardware and tools that piqued my interest. But with one computer I could write an infinite amount of software. My first introduction to computer languages was with HTML as a freshman high school; 1997. I have since learned and used CSS, JavaScript, PHP, Perl, Python, Ruby and more... My focus has always remained in Open Source technologies and I prefer to actively share knowledge while seeking truth.
      
      p My #[a(href='/software') software development] and #[a(href='/tutor', title='tutoring') tutoring] services are currently available for hire.
      
      ul.small-block-grid-2.text-center
        li
          a.button.dark(href='/software', title='') Software Development
        li
          a.button.dark(href='/tutor') Tutoring
    .large-4.columns.show-for-large-up.hide-on-print
      ul.small-block-grid-2
        li
          a(href='#')
            img(src='/image/hl1.png')
        li
          a(href='#')
            img(src='/image/hl2.png')
        li
          a(href='#')
            img(src='/image/hl3.png')
        li
          a(href='#')
            img(src='/image/hl4.png')

include ./include/footer.jade
