a(name='contact')
.row
  .large-12.columns
    .panel
      .row
        .large-9.columns
          h4 Get in touch!
          p Text me any time from 9am - 5pm, Monday through Saturday at 480-372-7445.
        .large-3.columns
          a.radius.button.right(href='mailto:monaghan.david@gmail.com?subject=Found you on iwantdavid.github.io') Email me

footer
  .row
    .large-6.columns
      p &copy; David Monaghan
    .large-6.columns
      ul.inline-list.right

script(src='js/bundle.js')
script
  $(document).foundation();
    
