section.hero
  .row
    .large-12.columns
      .main-wrapper
        h1 David Monaghan
        hr
        .row
          .large-6.columns.large-centered
            ul.button-group.even-3.navigation.hide-on-print
              li
                a.button(href='/#about') Home
              li
                a.button(href='#about') About
              li
                a.button(href='#contact') Contact
      .row
        .large-6.columns.about-box
          .black-box
            h2 #{heroTitle}
            p #{heroParagraph}
            p.hide-on-print Would you like to know 
              a.secondary.small.button(href='#about') MORE?
